body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.pro {
    color: rgb(240, 139, 15);
}
.container-terms{
    display:flex;
}
.width-half{
    margin: 5git add 0px;
    width: 40%;
    padding-left: 5%;
    
}
.width-half img{
    margin: 200 px;
    height: 80%;
    width: 65%;
    padding: 60px;
     
   
}
.link-button{
    text-decoration: none;
    padding: 7px 20px;
    background-image: -moz-linear-gradient(orange,red);
    color: rgb(241, 237, 237);
    font-weight: 700;
    border-radius: 5px;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.image{
    border-radius: 50%;
}


    
    
.IMAGE2{
    border-radius: 50%;
}
.color{
    color: rgb(252, 112, 13);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
}
.h2-fontsize{
    font-size: 30px;
}
.orange{
    color: rgb(248, 109, 10);
}
.experience
{
    text-shadow: 2px 3px;
}
.exp-item{
    margin: 5%;
    width: 50%;
    box-shadow: 10px 10px 10px 8px gray; 
    
    
}
.image-add{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp-border-left{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-radius: 10px;
}
#exp-border-quran{
    border-left: 5px solid;
    border-image: linear-gradient(purple,red);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}